name: CI

on:
  pull_request:
  push:
    branches: ['master']
    tags: ['v[0-9]']

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17, 25]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
      - uses: coursier/cache-action@v8
      - uses: sbt/setup-sbt@v1
      - run: sudo apt-get install graphviz
      - run: sbt "++ 2.12.x" test mimaReportBinaryIssues scripted
      - run: sbt "++ 3.x" test scripted
        if: ${{ matrix.java != 8 }}
